@import 'variables.scss';
@import 'slide.scss';
@import 'search.scss';
@import '~bootstrap/scss/bootstrap';

h1  {
    color: blue;
}

h2 {
    color: $info;
}

/*Map Legend*/

.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    background-color: white;
    padding: 8px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
}

.farmers {
    margin-bottom: 4px;
}

.buyers {
    margin-bottom: 0;
}

.buyers::before {
    background-image: url(../images/markerOrange.png);
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
    position: relative;
    top: 5px;
}
.farmers::before {
    background-image: url(../images/markerGreen.png);
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content:"";
    position: relative;
    top: 5px;
}

@media screen and (max-width: 425px){
    .legend {
        font-size: 10px;
        bottom: 42px;
    }
    .buyers::before {
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
    }
    .farmers::before {
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
    }
}

/*Pop-ups*/

.leaflet-popup-content-wrapper {
    background: rgba(255,255,255,0.9) !important;
    border-radius: 4px !important;
    color: $primary !important;
    font-family: $default-font-family !important;
    font-size: 16px !important;
}

.leaflet-popup-tip {
    background: rgba(255,255,255,0.9) !important;
}

a.leaflet-popup-close-button {
    color: $primary !important;
}

.header-font {
    font-family: $header-font-family !important;
    font-size: 15px !important;
    color: $black !important;
}

p.comment {
    text-align: center;
    margin: 16px 0 0 !important;
}

hr {
    margin-top: -2px;
}

.comment::before {
    background-image: url(../images/agriculteur.svg);
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    content:"";
    position: relative;
    top: 5px;
}