@import 'variables.scss';

$black: #343838;
$blue: #5a9449;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);
* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  font-size: 16px;
}

#page-wrapper {
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: $dullWhite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#btn {
  position: absolute;
  display: inline-block;
  width: 32px;
  z-index: 100;
  top: 10px;
  right: 0;
  margin-right: 11px;
  cursor: pointer;
  background-color: white;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  background-clip: padding-box;
  transition: right 500ms $easing;
  div {
    height: 2px;
    margin: 6px;
    background-color: $blue;
    transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
  }
}

#btn.active {
  transition: right 500ms $easing;
  background-color: $blue;
  border: none;
  div {
    background-color: $black;
  }
  #top {
    transform: translateY(8px) rotate(-135deg);
  }
  #middle {
    opacity: 0;
    transform: rotate(135deg);
  }
  #bottom {
    transform: translateY(-8px) rotate(-45deg);
  }
}

#box {
  position: fixed;
  z-index: 6;
  overflow: auto;
  top: 0px;
  right: -350px;
  width: 350px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: $primary;
  color: $dullWhite;
  transition: all 350ms $easing;
  font-family: $default-font-family;
}

#box.active {
  right: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .item {
    position: relative;
    font-size: 1.5em;
    padding: 15px 30px;
    transition: all 250ms;
    &:hover {
      padding: 15px 45px;
      background-color: transparentize($black, .8);
    }
  }
}

.container {
  .col-form-label {
    font-weight: $bold;
  }
}

.filter-button {
  background-color: $warning;
  border-radius: 4px;
  font-family: $header-font-family;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: $dullWhite !important;
}

#btn, #btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}

#map {
  position: relative;
  z-index: 1;
}

.form-check-label {
  margin-left: 10px;
}

.form-check {
  margin-top: 10px;
}

/* Aspect de la case */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  transition: all .275s;
}

/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '✕';
  speak: never; /* Pour être sûr que le lecteur d'écran ne lira pas "fois" */
  position: absolute;
  top: .48em;
  left: .0em;
  font-size: 1.6em;
  color: $blue;
  line-height: 0;
  transition: all .2s; /* Petite transition */
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}
